@page
@using Microsoft.Extensions.Localization
@using Blockchain.Localization
@using Blockchain.Web.Pages.Blockchain
@model Blockchain.Web.Pages.Blockchain.IndexModel
@inject IStringLocalizer<BlockchainResource> L

@{
}
<h1>Blockchain</h1>
<p>@L["SamplePageMessage"]</p>
