@page "/Blockchain"
@using Microsoft.Extensions.Localization
@using global::Blockchain.Localization
@inject IStringLocalizer<BlockchainResource> L
@{
}
<h1>Blockchain</h1>
<p>@L["SamplePageMessage"]</p>